<script th:inline="javascript" xmlns:th="http://www.w3.org/1999/html">
    let teamName = undefined
    let imageUrl = undefined
    let division = undefined
    let playersUrl = undefined

    function select(id) {
        let elements = document.getElementById(id)
        showModal(elements.attributes, formSelectedOptions())
    }

    function formSelectedOptions() {
        const map = new Map()
        map.set('teamName', teamName)
        map.set('imageUrl', imageUrl)
        map.set('division', division)
        map.set('playersUrl', playersUrl)
        return map
    }
</script>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form method="post" id="saveForm" th:action="@{/admin/panel/saveTeam}">
                    <div class=row>
                        <label>Name</label>
                        <select class="form-control-sm"
                                id="teamName"
                                name="teamName"
                                onchange="onChange(this)">
                            <th:block th:if="${teamName != null}">
                                <option th:value="${teamName}" th:text="${teamName}" selected></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <label>ImageUrl</label>
                        <select class="form-control-sm"
                                id="imageUrl"
                                name="imageUrl"
                                onchange="onChange(this)">
                            <th:block th:if="${imageUrl != null}">
                                <option th:value="${imageUrl}" th:text="${imageUrl}" selected></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <label>Division</label>
                        <select class="form-control-sm"
                                id="division"
                                name="division"
                                onchange="onChange(this)">
                            <th:block th:if="${division != null}">
                                <option th:value="${division}" th:text="${division}" selected></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row">
                        <label>Player Url</label>
                        <select class="form-control-sm"
                                id="playersUrl"
                                name="playersUrl"
                                onchange="onChange(this)">
                            <th:block th:if="${playersUrl != null}">
                                <option th:value="${playersUrl}" th:text="${playersUrl}" selected></option>
                            </th:block>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6 ml-auto">
                <h5>Selected Element</h5>
                <div class="row" id="elementAttributes">
                </div>
            </div>
        </div>
    </div>
    <th:block th:if="${error != null}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            teamName = /*[[${teamName}]]*/ undefined;
            imageUrl = /*[[${imageUrl}]]*/ undefined;
            division = /*[[${division}]]*/ undefined;
            playersUrl = /*[[${playersUrl}*/ undefined;

            window.onload(showModal([], formSelectedOptions()))
            /*]]>*/
        </script>
        <div class="alert-danger" th:text="${error}"></div>
    </th:block>
</div>
