<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-6">
            <form method="post" th:action="@{/admin/panel/getTeams}">
                <label>Get Teams for New Season</label>
                <button type="submit" class="btn btn-primary">Get Teams</button>
            </form>
            <form method="post" th:action="@{/admin/panel/resetWeeklyPoints}">
                <label>Reset weekly point for users</label>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>

    <div th:if="${selectableData != null}" th:utext="${selectableData}">
    </div>

    <th:block th:if="${selectableData != null}">
        <div th:replace="fragments/modal.html"></div>
    </th:block>
</div>

